{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Home | Campus Insight</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'images/logo.png' %}" rel="shortcut icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'css/gallery.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: ELECSTA
  * Updated: Bootstrap v5.3.3
  * Author: ECE STUDENTS
  ======================================================== -->
  </head>

  <body class="index-page">
    {% include 'navbar.html' %}

    <main class="main">
      <!-- Page Title -->
      <div class="page-title dark-background" data-aos="fade">
        <div class="container position-relative">
          <h1>Gallery</h1>
          <p>Capturing Moments of Innovation and Community.</p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Gallery</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Section Title -->
      <section id="starter-section" class="starter-section section">
        <div class="container section-title" data-aos="fade-up">
          <span>Gallery<br /></span>
          <h2>Gallery</h2>
          <p>
            Welcome to our gallery! Here, you'll find a visual showcase of our
            events, workshops, projects, and the vibrant community of ELECSTA.
            Explore the moments that define our journey, capture our spirit of
            innovation, and highlight the creativity and dedication of our
            members.
          </p>
        </div>
      </section>
      <!-- End Section Title -->

      <!-- Divider with gradient line -->
      <div class="container">
        <hr
          style="
            border: 0;
            height: 2px;
            background: linear-gradient(to right, #0e1d34, #19335c);
          "
        />
      </div>

      <!-- Photo Gallery Section -->
      <div class="container py-5">
        <!-- Section Header with Title and Search Input -->
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="section-title mb-0" style="font-size: 23px">
            Photo Gallery
          </h4>
          <input
            type="text"
            id="search_input"
            class="form-control w-25"
            placeholder="Search by Name"
          />
        </div>

        <!-- Photo Gallery Items -->
        <div id="demo-test-gallery" class="row g-4">
          <!-- Gallery Card 1 -->
          <div class="col-lg-2 col-md-3 col-6">
            <div class="gallery-card shadow">
              <img
                src="https://via.placeholder.com/400x300"
                alt="Album Image"
              />
              <div class="card-overlay">
                <div class="overlay-text">Campus Images</div>
              </div>
              <button
                type="button"
                class="btn btn-light text-dark credits-button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="GANDIMENU CHANDRASEKHAR"
              >
                <i class="fas fa-camera"></i> Credits
              </button>
            </div>
          </div>
          <!-- Gallery Card 2 -->
          <div class="col-lg-2 col-md-3 col-6">
            <div class="gallery-card shadow">
              <img
                src="https://via.placeholder.com/400x300"
                alt="Album Image"
              />
              <div class="card-overlay">
                <div class="overlay-text">Yoga Center</div>
              </div>
              <button
                type="button"
                class="btn btn-light text-dark credits-button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="CTS"
              >
                <i class="fas fa-camera"></i> Credits
              </button>
            </div>
          </div>
          <!-- Gallery Card 3 -->
          <div class="col-lg-2 col-md-3 col-6">
            <div class="gallery-card shadow">
              <img
                src="https://via.placeholder.com/400x300"
                alt="Album Image"
              />
              <div class="card-overlay">
                <div class="overlay-text">Library</div>
              </div>
              <button
                type="button"
                class="btn btn-light text-dark credits-button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="CTS"
              >
                <i class="fas fa-camera"></i> Credits
              </button>
            </div>
          </div>
          <!-- Gallery Card 4 -->
          <div class="col-lg-2 col-md-3 col-6">
            <div class="gallery-card shadow">
              <img
                src="https://via.placeholder.com/400x300"
                alt="Album Image"
              />
              <div class="card-overlay">
                <div class="overlay-text">Games and Sports</div>
              </div>
              <button
                type="button"
                class="btn btn-light text-dark credits-button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="GANDIMENU CHANDRASEKHAR"
              >
                <i class="fas fa-camera"></i> Credits
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Divider with gradient line -->
      <div class="container">
        <hr
          style="
            border: 0;
            height: 2px;
            background: linear-gradient(to right, #0e1d34, #19335c);
          "
        />
      </div>

      <!-- Batchwise Alumni Section -->
      <div class="container mt-4">
        <div class="row">
          <!-- Batchwise Alumni List -->
          <div class="col-lg-9">
            <h4 class="section-title" style="text-align: left">
              Batchwise Alumni <i class="fas fa-user-graduate mr-2"></i>
            </h4>
            <div class="row">
              <!-- Alumni Batch Card 1 -->
              <div class="col-md-6 col-lg-2">
                <div class="gp shadow" onclick="location.href='#'">
                  <img
                    src="https://via.placeholder.com/300"
                    class="card-img img-fluid"
                    alt=""
                  />
                  <div class="dept-title">2016 Batch</div>
                </div>
              </div>
              <!-- Alumni Batch Card 2 -->
              <div class="col-md-6 col-lg-2">
                <div class="gp shadow" onclick="location.href='#'">
                  <img
                    src="https://via.placeholder.com/300"
                    class="card-img img-fluid"
                    alt=""
                  />
                  <div class="dept-title">2017 Batch</div>
                </div>
              </div>
              <!-- Alumni Batch Card 3 -->
              <div class="col-md-6 col-lg-2">
                <div class="gp shadow" onclick="location.href='#'">
                  <img
                    src="https://via.placeholder.com/300"
                    class="card-img img-fluid"
                    alt=""
                  />
                  <div class="dept-title">2018 Batch</div>
                </div>
              </div>
              <!-- Alumni Batch Card 4 -->
              <div class="col-md-6 col-lg-2">
                <div class="gp shadow" onclick="location.href='#'">
                  <img
                    src="https://via.placeholder.com/300"
                    class="card-img img-fluid"
                    alt=""
                  />
                  <div class="dept-title">2019 Batch</div>
                </div>
              </div>
              <!-- Alumni Batch Card 5 -->
              <div class="col-md-6 col-lg-2">
                <div class="gp shadow" onclick="location.href='#'">
                  <img
                    src="https://via.placeholder.com/300"
                    class="card-img img-fluid"
                    alt=""
                  />
                  <div class="dept-title">2020 Batch</div>
                </div>
              </div>
              <!-- Repeat col-md-6 col-lg-2 for additional departments -->
            </div>
          </div>
          <!-- Sidebar with Additional Links -->
          <div class="col-lg-3 col-md-4 p-3 bg-light rounded-3">
            <div class="mb-4">
              <h4 class="section-title" style="font-size: 20px">
                <i class="fas fa-school mr-2" style="color: #007bff"></i> More
                Links
              </h4>
              <ul class="sidebar">
                <li>
                  <a href="#"
                    ><i class="fas fa-user-tie mr-2"></i> Faculty Profiles</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-user-graduate mr-2"></i> Alumni</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="far fa-calendar-alt mr-2"></i> Academic
                    Calendar</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fas fa-images mr-2"></i> Gallery</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Divider with gradient line -->
      <div class="container">
        <hr
          style="
            border: 0;
            height: 2px;
            background: linear-gradient(to right, #0e1d34, #19335c);
          "
        />
      </div>
    </main>

    {% include 'footer.html' %}

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
